/Methods/nbproject/private/
/Methods/build/
/StaticVariables/nbproject/private/
/StaticVariables/build/
/JavaMethods/nbproject/private/
/JavaMethods/build/
/ArrayListVsPolyArray/nbproject/private/
/ArrayListVsPolyArray/build/